:root {
  --teal: #03DAC5;
  --purple: #BB86FC;
  --salmon: #FF7597;

  --yellow: #FFDE03;
  --blue: #0336FF;
  --magenta: #FF0266;

  --light-pink: #F4B5FB;
  --pink: #DC86F6;
  --dark-pink: #AA55C2;

  --black: #202124;

  --light-gray: #BEC1C5;
  --gray: #616368;
  --dark-gray: #3D4042;

  --white: #FAFAFA;

  --color-background: var(--black);
  --color-text: var(--white);
  --color-line: var(--light-gray);

  --color-text-link: var(--white);
  --color-text-link-visited: var(--light-gray);
  --color-text-link-hover: var(--dark-pink);
  --color-text-link-active: var(--pink);
}

* {
  font-family: Verdana, Segoe UI, Calibri, Helvetica, Arial, system-ui;
}

/* General */
body {
  background: var(--color-background);
  color: var(--color-text);

  display: flex;
  flex-direction: column;
  height: 94vh;
  /* 100 sobreix */

  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

/* Page spaces */
header {
  background-color: var(--dark-gray);
  padding-top: 0.25rem;
}

main {
  background-color: var(--gray);
  flex: 1;
}

footer {
  background-color: var(--dark-gray);
}


/* Links */
a {
  color: var(--color-text-link);
  text-decoration: none;
}

a:visited {
  color: var(--color-text-link-visited);
}

a:hover {
  color: var(--color-text-link-hover);
  text-decoration: underline;
}

a:active {
  color: var(--color-text-link-active);
  text-decoration: none;
}


/* Classes */

.header-line {
  height: 0.5px;
  background-color: var(--color-line);
}

.footer-line {
  height: 3px;
  background-color: var(--color-line);
}

.back-arrow {
  display: inline-block;
  font-size: 1.25rem;
  line-height: 1;
}