.cv-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  /* margin-left: 5rem;
  margin-right: 5rem; */
}
.cv-table th,
.cv-table td {
  padding: 0.75rem;
  text-align: center;
  border-bottom: 1px solid var(--color-line);
}
.cv-table th {
  font-weight: bold;
}
.cv-table th:nth-child(1),
.cv-table td:nth-child(1) {
  width: 15%;
}
.cv-table th:nth-child(2),
.cv-table td:nth-child(2) {
  width: 20%;
}
.cv-table th:nth-child(3),
.cv-table td:nth-child(3) {
  width: 20%;
}
.cv-table th:nth-child(4),
.cv-table td:nth-child(4) {
  width: 45%;
}

.date-cell
{
    font-size: 0.95em;
}