:root {
  --yellow: #FFDE03;
  --blue: #0336FF;
  --magenta: #FF0266;

  --light-pink: #F4B5FB;
  --pink: #DC86F6;
  --dark-pink: #AA55C2;

  --black: #202124;

  --light-gray: #BEC1C5;
  --gray: #616368;
  --dark-gray: #3D4042;

  --white: #FAFAFA;

  --color-background: var(--black);
  --color-text: var(--white);
  --color-line: var(--light-gray);

  --color-text-link: var(--white);
  --color-text-link-visited: var(--light-gray);
  --color-text-link-hover: var(--dark-pink);
  --color-text-link-active: var(--pink);
}

/* General */
body {
  background: var(--color-background);
  color: var(--color-text);

  display: flex;
  flex-direction: column;
  height: 94vh;
  /* 100 sobreix */

  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

/* Page spaces */
header {
  background-color: var(--dark-gray);
  padding-top: 0.25rem;
}

main {
  background-color: var(--gray);
  flex: 1;
}

footer {
  background-color: var(--dark-gray);
}


/* Links */
a {
  color: var(--color-text-link);
  text-decoration: none;
}

a:visited {
  color: var(--color-text-link-visited);
}

a:hover {
  color: var(--color-text-link-hover);
  text-decoration: underline;
}

a:active {
  color: var(--color-text-link-active);
  text-decoration: none;
}


/* Classes */

.header-line {
  height: 0.5px;
  background-color: var(--color-line);
}

.footer-line {
  height: 3px;
  background-color: var(--color-line);
}

.back-arrow {
  display: inline-block;
  font-size: 1.25rem;
  line-height: 1;
}

/* Animations */

@keyframes blobCodes {
  0% {
    border-radius: 60% 40% 55% 45% / 45% 55% 35% 65%;
  }
  25% {
    border-radius: 48% 52% 62% 38% / 40% 45% 55% 60%;
  }
  50% {
    border-radius: 42% 58% 63% 37% / 45% 35% 65% 55%;
  }
  75% {
    border-radius: 55% 45% 35% 65% / 60% 40% 60% 40%;
  }
  100% {
    border-radius: 60% 40% 55% 45% / 45% 55% 35% 65%;
  }
}

@keyframes blobCV {
  0% {
    border-radius: 35% 65% 52% 48% / 42% 38% 62% 58%;
  }
  25% {
    border-radius: 58% 42% 34% 66% / 50% 60% 40% 50%;
  }
  50% {
    border-radius: 46% 54% 68% 32% / 36% 52% 48% 64%;
  }
  75% {
    border-radius: 62% 38% 45% 55% / 58% 34% 66% 42%;
  }
  100% {
    border-radius: 35% 65% 52% 48% / 42% 38% 62% 58%;
  }
}

@keyframes blobPorfolio {
  0% {
    border-radius: 72% 28% 47% 53% / 39% 63% 37% 61%;
  }
  20% {
    border-radius: 43% 57% 68% 32% / 58% 34% 66% 42%;
  }
  40% {
    border-radius: 61% 39% 30% 70% / 45% 55% 45% 55%;
  }
  60% {
    border-radius: 34% 66% 55% 45% / 67% 33% 67% 33%;
  }
  80% {
    border-radius: 56% 44% 72% 28% / 31% 69% 31% 69%;
  }
  100% {
    border-radius: 72% 28% 47% 53% / 39% 63% 37% 61%;
  }
}

@keyframes blobFour {
  0% {
    border-radius: 58% 42% 52% 48% / 44% 56% 46% 54%;
  }
  25% {
    border-radius: 54% 46% 57% 43% / 48% 52% 44% 56%;
  }
  50% {
    border-radius: 50% 50% 60% 40% / 46% 54% 42% 58%;
  }
  75% {
    border-radius: 55% 45% 50% 50% / 52% 48% 47% 53%;
  }
  100% {
    border-radius: 58% 42% 52% 48% / 44% 56% 46% 54%;
  }
}