:root {
  --light-pink: #F4B5FB;
  --pink: #DC86F6;
  --dark-pink: #AA55C2;
  --black: #202124;
  --dark-gray: #3D4042;
  --gray: #616368;
  --white: #FAFAFA;

  --color-background: var(--black);
  --color-text: var(--white);

  --color-text-link: var(--white);
  --color-text-link-visited: var(--light-pink);
  --color-text-link-hover: var(--dark-pink);
  --color-text-link-active: var(--pink);
}

body {
  background: var(--color-background);
  color: var(--color-text);
}

/* Page spaces */
header {
  background-color: var(--dark-gray);
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

main {
  background-color: var(--gray);
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}


/* Links */
a {
  color: var(--color-text-link);
  text-decoration: none;
}

a:visited {
  color: var(--color-text-link-visited);
}

a:hover {
  color: var(--color-text-link-hover);
  text-decoration: underline;
}

a:active {
  color: var(--color-text-link-active);
  text-decoration: none;
}


/* Classes */

.back-arrow {
  display: inline-block;
  font-size: 1.25rem;
  line-height: 1;
}