:root {
  --teal: #03DAC5;
  --purple: #BB86FC;
  --salmon: #FF7597;

  --yellow: #FFDE03;
  --blue: #0336FF;
  --magenta: #FF0266;

  --light-pink: #F4B5FB;
  --pink: #DC86F6;
  --dark-pink: #AA55C2;

  --light-black: #2A2C2F;
  --black: #202124;
  --dark-black: #16171A;

  --light-gray: #BEC1C5;
  --gray: #616368;
  --dark-gray: #3D4042;

  --white: #FAFAFA;

  --color-background: var(--black);
  --color-text: var(--white);
  --color-line: var(--gray);

  --color-text-link: var(--teal);
  --color-text-link-visited: var(--teal);
  --color-text-link-hover: var(--teal);
  --color-text-link-active: var(--teal);
}

* {
  font-family: Verdana, "Segoe UI", Calibri, Helvetica, Arial, system-ui;
}

/* General */
body {
  background: var(--color-background);
  color: var(--color-text);

  display: flex;
  flex-direction: column;
  height: 94vh;
  /* 100 sobreix */

  width: min(100vw, 50rem);
  /* use the smaller of 100vw and 50rem as the element width */
  margin: 1.25rem auto;
  box-sizing: border-box;

  /* margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem; */
}

/* Page spaces */
header {
  /* background-color: var(--blue); */
  padding-top: 0.25rem;
}

main {
  /* background-color: var(--gray); */
  flex: 1;
}

footer {
  /* background-color: var(--dark-gray); */
}


/* Links */
a {
  color: var(--color-text-link);
  text-decoration: none;
}

a:visited {
  color: var(--color-text-link-visited);
}

a:hover {
  color: var(--color-text-link-hover);
  text-decoration: underline;
}

a:active {
  color: var(--color-text-link-active);
  text-decoration: none;
}


/* Classes */
.header-text {
  margin: 0.25rem;
  text-align: center;
  font-size: 1.5em;
}

.header-line {
  height: 0.5px;
  background-color: var(--color-line);
}

.footer-line {
  height: 2px;
  background-color: var(--color-line);
}

.spacer {
  height: 3rem;
  flex-shrink: 0;
  /* background-color: var(--teal); */
}

.tiny-up-arrow {
  font-family: monospace;
  font-size: 1.5em;
}

.disclaimer
{
  font-size: 0.67em;
  color: var(--light-gray);
}